<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <contentSearch.getContextIndex patch:source="Sitecore.ContentSearch.config">
        <processor type="Sitecore.Support.ContentSearch.Pipelines.GetContextIndex.FetchIndex, Sitecore.Support.Diagnostics.FetchIndex" patch:i="*[@type='Sitecore.ContentSearch.Pipelines.GetContextIndex.FetchIndex, Sitecore.ContentSearch']"/>
      </contentSearch.getContextIndex>
    </pipelines>
  </sitecore>
</configuration>